.height-full {
	height : 100vh;
}

.height-sixty-five {
	height: 65vh;
}

.height-thirty-five {
	height: 35vh;
}

.scroll-y {
	overflow-y: scroll;
}

.fill { 
    min-height: 100%;
    height: 100%;
}